#app4{

}
#app4 #colorCircle{
    margin: 1vw;
    width: 20vw;
    height: 20vw;
    border: 1px solid gray;
    border-radius: 50%;
}
#app4 .change:hover{
    animation: colorChange 1s infinite alternate linear;
}
@keyframes colorChange {
    0%{
        background: blue;
    }
    100%{
        background: red;
    }
}